<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title>Users</title>
  </head>
  <body>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      {{range .Users}}
      <tr>
        <td>{{.Id}}</td>
        <td>{{.Name}}</td>
        <td>{{.Email}}</td>
        <td><button type="button" class="btn">Delete</button></td>
      </tr>
      {{end}}
    </table>

    <p>Add</p>
    <form class="form" action="/insert" method="POST">
      <!-- ID: <input type="text" name="id"><br><br> -->
      Name: <input type="text" name="name"><br><br>
      Email: <input type="text" name="email"><br><br>
      <button type="submit">Add</button>
    </form>
    <br><br>

    <p>Update</p>
    <form class="form" action="/update" method="POST">
      ID: <input type="text" name="id" id="id"><br><br>
      Name: <input type="text" name="name" id="name"><br><br>
      Email: <input type="text" name="email" id="email"><br><br>
      <button type="submit" id="update">Update</button>
    </form>
    <div id="result"><h3>before</h3></div><br><br>

    <script type="text/javascript">
      $(document).ready(function() {

        $('.table tbody').on('click', '.btn', function () {
          var currow = $(this).closest('tr');
          var id = currow.find('td:eq(0)').text();
          // alert(id)
          $.ajax({
            type:"DELETE",
            url:"/delete/"+id,
            // data:data,    // multiple data sent using ajax
            success: function (html) {
              $(location).attr('href',"/users");
            }
          });
        });

      });
    </script>
  </body>
</html>
